// #hero {
//   height: calc(100vh - 50px);
// }

#hero {
  h4 {
    font-weight: 100;
    font-size: 26px;
  }

  h1 {
    font-weight: 700;
    font-size: 60px;
  }

  h2 {

  }

  p {
    font-weight: 200;
    font-size: 16px;
    max-width: 55%;
}
}

#about {
  // background-color: rgb(47, 47, 47);
}

#portfolio {
  // background-color: rgb(59, 59, 59);;
}

#resume {
  // background-color: rgb(92, 92, 92);;
}

#contact {
  // background-color: rgb(116, 113, 113);;
}
