body {
  p {
    font-weight: $body-p-font-weight;
  }
}

#hero {
  h4 {
    font-weight: 100;
    font-size: 26px;
  }

  h1 {
    font-weight: 700;
    font-size: 60px;
  }

  #full-name {
    font-size: 60px;
  }

  #full-name-subtitle {
    font-size: 60px;
    color: $green-light;
  }

  p {
    font-size: 16px;
    max-width: 55%;
  }

  #learn-more-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  #learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 5px;
    }
  }

  .bounce2 {
    animation: bounce2 2s ease infinite;
  }

  @keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
  }

}

#portfolio-headers {
  position: absolute;
  top: 10vh;
}


// modal excl. bootstrap variables
.modal-header {
  i {
    color: $green-light;
    font-size: 30px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 600px) {
  // scrollbar styling
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: $green-light none;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 3px;
    width: 3px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: none;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: none;
  }

  *::-webkit-scrollbar-track:active {
    background-color: none;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: $green-light;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: $green-light;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: $green-light;
  }
}

// Responsive design

@media only screen and (max-width: 1000px) {
  #hero {
    #hero-content {
      margin: 0px 40px;
    }

    h4 {
      font-size: 20px;
    }

    #full-name {
      font-size: 35px;
    }

    #full-name-subtitle {
      font-size: 35px;
    }

    p {
      max-width: 80%;
    }
  }

  #about {
    #about-content {
      margin: 0px 40px;
    }

    h1 {
      font-size: 35px;
    }
  }

  #portfolio {
    #portfolio-content {
      margin: 0px 40px;
    }

    h1 {
      font-size: 35px;
    }
  }

  #resume {
    #resume-content {
      margin: 0px 40px;
    }

    h1 {
      font-size: 35px;
    }
  }

  #contact {
    #contact-content {
      margin: 0px 40px;
    }

    h1 {
      font-size: 35px;
    }
  }

}

@media only screen and (max-width: 600px) {
  body p {
    font-size: 14px;
  }

  #fp-nav.fp-right {
    right: 0px;
  }

  #hero {
    #hero-content {
      margin: 0px 10px;
    }

    h4 {
      font-size: 16px;
    }

    #full-name {
      font-size: 26px;
    }

    #full-name-subtitle {
      font-size: 26px;
    }

    p {
      max-width: 90%;
      font-size: 14px;

    }

    #learn-more-container {
      font-size: 14px;
    }
  }

  #about {
    #about-content {
      margin: 0px 10px;
    }

    h1 {
      font-size: 26px;
    }
  }

  #portfolio {
    #portfolio-content {
      margin: 0px 10px;
    }

    h1 {
      font-size: 26px;
    }
  }

  #resume {
    #resume-content {
      margin: 0px 10px;
    }

    h1 {
      font-size: 26px;
    }
  }

  #contact {
    #contact-content {
      margin: 0px 10px;
    }

    h1 {
      font-size: 26px;
    }
  }

}
