<div id="currency-bg">
  <div id="currency-container">

    <div id="currency-converter" data-controller="currencyconverter">
      <form accept-charset="UTF-8" action="" autocomplete="off" method="GET" target="_blank">
        <div id="currencies">
          <div id="from-currency">
            <div id="from-amount">
              <input data-currencyconverter-target="amount" class="form-control" name="name" type="number" placeholder="Amount"/>
            </div>
            <div id="from-ticker">
              <select data-currencyconverter-target="fromcurrency" id="selected-from-ticker" class="form-control">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="NOK">NOK</option>
              </select>
            </div>
          </div>
          <div id="currency-divider">
            <i class="fa-solid fa-arrows-left-right"></i>
          </div>
          <div id="to-currency">
            <div id="to-ticker">
              <select data-currencyconverter-target="tocurrency" id="selected-from-ticker" class="form-control">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="NOK">NOK</option>
              </select>
            </div>
          </div>
        </div>
        <div id="result" class="d-none">
          <p>Some info</p>
          <p data-currencyconverter-target="result"></p>
          <p>Some info</p>
        </div>
        <div id="currency-submit">
          <div data-action="click->currencyconverter#convert" id="convert" class="btn btn-primary">Convert</div>
        </div>
      </form>
    </div>

  </div>
</div>
<a
  style="position: fixed; bottom: 10px; left: 10px; font-size: 12px;"
  href="https://www.exchangerate-api.com"
  target="_blank"
  >
  Rates By Exchange Rate API
</a>
