<!-- Modal -->
<div class="modal fade" id="homifyModal" tabindex="-1" aria-labelledby="homifyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="homifyModalLabel">Homify</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></span>
      </div>
      <div class="modal-body">
        <h1>Homify</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic cumque ipsam dolorem doloremque rerum, optio iusto debitis obcaecati veritatis impedit ad beatae reiciendis reprehenderit distinctio magnam perspiciatis rem inventore!</p>
      </div>
      <%# <div class="modal-footer">
      </div> %>
    </div>
  </div>
</div>
