<div class="loader-container">
  <%# spinner loader %>
  <%# <div class="spinner"></div> %>

  <%# rocket loader / xy ball loader %>
  <span class="loader"></span>
</div>


<script>
  const loaderContainer = document.querySelector('.loader-container');

  // load animation stops when page is loaded
  // const displayNone = () => {
  //   window.addEventListener('load', () => {
  //     loaderContainer.classList.add('d-none');
  //   });
  // }

  // load animation based on a set time
  setTimeout(() => {
    loaderContainer.classList.add('d-none')
    }, 1300 );

</script>
