<%# all navlinks are created with the navlinks_controller because of conflict between fullpagejs and normal href-links %>
<div data-controller="navlinks">
  <%# desktop navbar %>
  <div class="container" id="nav-home">
    <ul class="nav-links">
      <li data-navlinks-target="about" data-action="click->navlinks#about"><span class="link-num">01.</span> about</li>
      <li data-navlinks-target="portfolio" data-action="click->navlinks#portfolio"><span class="link-num">02.</span> portfolio</li>
      <li data-navlinks-target="resume" data-action="click->navlinks#resume"><span class="link-num">03.</span> resume</li>
      <li data-navlinks-target="contact" data-action="click->navlinks#contact"><span class="link-num">04.</span> contact</li>
    </ul>
  </div>

  <%# mobile navbar %>
  <div class="" id="mobile-nav-home">
    <%# open menu %>
    <div id="burger" data-pushbar-target="mypushbar1">
      <span><i class="fa-solid fa-bars"></i></span>
    </div>

    <%# pushbar slide menu %>
    <div id="mobile-menu" data-pushbar-id="mypushbar1" data-pushbar-direction="right">
      <%# close menu %>
      <div id="burger-close" data-pushbar-close>
        <span><i class="fa-solid fa-xmark"></i></span>
      </div>
      <%# menu content %>
      <ul class="mobile-nav-links">
        <li data-navlinks-target="about" data-action="click->navlinks#about"><span class="mobile-link-num">01.</span> about</li>
        <li data-navlinks-target="portfolio" data-action="click->navlinks#portfolio"><span class="mobile-link-num">02.</span> portfolio</li>
        <li data-navlinks-target="resume" data-action="click->navlinks#resume"><span class="mobile-link-num">03.</span> resume</li>
        <li data-navlinks-target="contact" data-action="click->navlinks#contact"><span class="mobile-link-num">04.</span> contact</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  const pushbar = new Pushbar({
        blur:false,
        overlay:true,
      });
</script>
