<div class="nav-container">
  <ul class="nav-links">
    <li><a href="#about-anchor"><span class="link-num">01.</span> about</a></li>
    <li><a href="#portfolio-anchor"><span class="link-num">02.</span> portfolio</a></li>
    <li><a href="#resume-anchor"><span class="link-num">03.</span> resume</a></li>
    <li><a href="#contact-anchor"><span class="link-num">04.</span> contact</a></li>
  </ul>
</div>
