<div id="new-portfolio-cards">
    <div class="new-portfolio-card-container">
      <div class="new-card">
              <div class="new-card-content">
                  <h2 class="new-card-title">Homify</h2>
                  <p>A tinder-like home finder app. Find your dream home by swiping. An app to make apartment hunting fun and efficient.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#homifyModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="new-card-title">Messagemate</h2>
                  <p>Instant messenger.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#messagemateModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="new-card-title">Spotify Artist Page</h2>
                  <p>The frontend of the Spotify artist page</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#spotifyModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="new-card-title">Findit</h2>
                  <p>Buying and selling used things online.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#finditModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="new-card-title">Tidder</h2>
                  <p>A reddit clone.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tidderModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="new-card-title">Other Projects</h2>
                  <p></p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#otherProjectsModal">Explore</button>
              </div>
          </div>
    </div>
</div>
