<div id="new-portfolio-cards">
    <div class="new-portfolio-card-container">
      <div class="new-card">
              <div class="new-card-content">
                  <h2 class="title">Homify</h2>
                  <p class="copy">A tinder-like home finder app. Find your dream home by swiping. An app to make apartment hunting fun and efficient.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#homifyModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="title">Messagemate</h2>
                  <p class="copy">Instant messenger.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#messagemateModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="title">Findit</h2>
                  <p class="copy">Buying and selling used things online.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#finditModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="title">Tidder</h2>
                  <p class="copy">A reddit clone.</p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tidderModal">Explore</button>
              </div>
          </div>
          <div class="new-card">
              <div class="new-card-content">
                  <h2 class="title">Other Projects</h2>
                  <p class="copy"></p>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#otherProjectsModal">Explore</button>
              </div>
          </div>
    </div>
</div>
