<div id="portfolio-cards">
  <section class="hero-section">
    <div class="portfolio-card-container">


      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background" style="background-image: url(/assets/homify-pixel-2-1-rot.png)">

          <div class="portfolio-card__content">
            <div>
              <p class="portfolio-card__category">app</p>
              <h3 class="portfolio-card__heading">homify.</h3>
            </div>
            <p class="portfolio-card__text">Find your dream home by swiping. An app to make apartment hunting fun and efficient.</p>
          </div>

        </div>
      </a>


      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background" style="background-image: url(/assets/ben-kolde-unsplash.jpg)">

          <div class="portfolio-card__content">
            <div>
              <p class="portfolio-card__category">app / website</p>
              <h3 class="portfolio-card__heading">my project.</h3>
            </div>
            <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
          </div>

        </div>
      </a>


      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background" style="background-image: url(/assets/edho-pratama-unsplash.jpg)">

          <div class="portfolio-card__content">
            <div>
              <p class="portfolio-card__category">app / website</p>
              <h3 class="portfolio-card__heading">my project.</h3>
            </div>
            <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
          </div>

        </div>
      </a>


      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background" style="background-image: url(/assets/homify-pixel-2-1-rot.png)">

          <div class="portfolio-card__content">
            <div>
              <p class="portfolio-card__category">app</p>
              <h3 class="portfolio-card__heading">homify.</h3>
            </div>
            <p class="portfolio-card__text">Find your dream home by swiping. An app to make apartment hunting fun and efficient.</p>
          </div>

        </div>
      </a>


      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background" style="background-image: url(/assets/ben-kolde-unsplash.jpg)">

          <div class="portfolio-card__content">
            <div>
              <p class="portfolio-card__category">app / website</p>
              <h3 class="portfolio-card__heading">my project.</h3>
            </div>
            <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
          </div>

        </div>
      </a>


      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background" style="background-image: url(/assets/edho-pratama-unsplash.jpg)">

          <div class="portfolio-card__content">
            <div>
              <p class="portfolio-card__category">app / website</p>
              <h3 class="portfolio-card__heading">my project.</h3>
            </div>
            <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
          </div>

        </div>
      </a>
    </div>
  </section>
</div>
