<div id="portfolio-cards">
    <div class="portfolio-card-container">


      <%# Portfolio-card 1 %>
      <a class="portfolio-card">
        <div class="portfolio-card-background portfolio-card-1">
          <div class="background-overlay">
            <div class="portfolio-card-content">
              <div>
                <%# <p class="portfolio-card-category">app</p> %>
                <h3 class="portfolio-card-heading">homify.</h3>
                <p>A tinder-like home finder app.</p>
              </div>
              <div>
                <div class="portfolio-card-text">
                  <p>
                    Find your dream home by swiping. An app to make apartment hunting fun and efficient.
                  </p>
                </div>
                <!-- Button trigger modal -->
                <div class="portfolio-card-button">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#homifyModal">
                    Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <%# Portfolio-card 3 %>
      <a class="portfolio-card">
        <div class="portfolio-card-background portfolio-card-3">
          <div class="background-overlay">
            <div class="portfolio-card-content">
              <div>
                <h3 class="portfolio-card-heading">MessageMate</h3>
                <p>Instant messenger.</p>
              </div>
              <div>
                <div class="portfolio-card-text">
                  <%# <p>A reddit clone.</p> %>
                </div>
                <!-- Button trigger modal -->
                <div class="portfolio-card-button">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#messagemateModal">
                    Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <%# Portfolio-card 5 %>
      <a class="portfolio-card">
        <div class="portfolio-card-background portfolio-card-5">
          <div class="background-overlay">
            <div class="portfolio-card-content">
              <div>
                <h3 class="portfolio-card-heading">Findit</h3>
                <p>Buying and selling used things online.</p>
              </div>
              <div>
                <div class="portfolio-card-text">
                  <%# <p>A reddit clone.</p> %>
                </div>
                <!-- Button trigger modal -->
                <div class="portfolio-card-button">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#finditModal">
                    Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <%# Portfolio-card 2 %>
      <a class="portfolio-card">
        <div class="portfolio-card-background portfolio-card-2">
          <div class="background-overlay">
            <div class="portfolio-card-content">
              <div>
                <%# <p class="portfolio-card-category">web app</p> %>
                <h3 class="portfolio-card-heading">tidder</h3>
                <p>A reddit clone</p>
              </div>
              <div>
                <div class="portfolio-card-text">
                  <%# <p>A reddit clone.</p> %>
                </div>
                <!-- Button trigger modal -->
                <div class="portfolio-card-button">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tidderModal">
                    Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <%# Portfolio-card 4 %>
      <a class="portfolio-card">
        <div class="portfolio-card-background portfolio-card-4">
          <div class="background-overlay">
            <div class="portfolio-card-content">
              <div>
                <%# <p class="portfolio-card-category">web app</p> %>
                <h3 class="portfolio-card-heading">Other projects</h3>
                <p></p>
              </div>
              <div>
                <!-- Button trigger modal -->
                <div class="portfolio-card-button">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#otherProjectsModal">
                    Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>


    </div>
</div>
