<div id="portfolio-cards">
  <%# <section class="hero-section"> %>
    <div class="portfolio-card-container">

      <%# Portfolio-card 1 %>
      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background portfolio-card-1">

          <div class="background-overlay">
            <div class="portfolio-card__content">
              <div>
                <p class="portfolio-card__category">app</p>
                <h3 class="portfolio-card__heading">homify.</h3>
              </div>
              <p class="portfolio-card__text">Find your dream home by swiping. An app to make apartment hunting fun and efficient.</p>
            </div>
          </div>

        </div>
      </a>


      <%# Portfolio-card 2 %>
      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background portfolio-card-2">

          <div class="background-overlay">
            <div class="portfolio-card__content">
              <div>
                <p class="portfolio-card__category">app / website</p>
                <h3 class="portfolio-card__heading">my project.</h3>
              </div>
              <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
            </div>
          </div>

        </div>
      </a>


      <%# Portfolio-card 3 %>
      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background portfolio-card-3">

          <div class="background-overlay">
            <div class="portfolio-card__content">
              <div>
                <p class="portfolio-card__category">app / website</p>
                <h3 class="portfolio-card__heading">my project.</h3>
              </div>
              <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
            </div>
          </div>

        </div>
      </a>


      <%# Portfolio-card 1 %>
      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background portfolio-card-1">

          <div class="background-overlay">
            <div class="portfolio-card__content">
              <div>
                <p class="portfolio-card__category">app</p>
                <h3 class="portfolio-card__heading">homify.</h3>
              </div>
              <p class="portfolio-card__text">Find your dream home by swiping. An app to make apartment hunting fun and efficient.</p>
            </div>
          </div>

        </div>
      </a>


      <%# Portfolio-card 2 %>
      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background portfolio-card-2">

          <div class="background-overlay">
            <div class="portfolio-card__content">
              <div>
                <p class="portfolio-card__category">app / website</p>
                <h3 class="portfolio-card__heading">my project.</h3>
              </div>
              <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
            </div>
          </div>

        </div>
      </a>


      <%# Portfolio-card 3 %>
      <a class="portfolio-card" href="#">
        <div class="portfolio-card__background portfolio-card-3">

          <div class="background-overlay">
            <div class="portfolio-card__content">
              <div>
                <p class="portfolio-card__category">app / website</p>
                <h3 class="portfolio-card__heading">my project.</h3>
              </div>
              <p class="portfolio-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eveniet quam corrupti.</p>
            </div>
          </div>

        </div>
      </a>

    </div>
  <%# </section> %>
</div>
