<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="projectModalLabel">project</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark hover-brighter-green"></i></span>
      </div>
      <div class="modal-body modal-template project-modal-body">
        <div class="project-lede">
          <div>
            <p></p>
            <p>Visit site: <%#= link_to 'project', '#', target: "_blank"  %></p>
            <p>Download for android: <%#= link_to 'project.apk', '/project.apk', target: "_blank"  %></p>
            <p><%#= link_to 'View on GitHub', 'https://github.com/jorgenlt/project', target: "_blank"  %></p>
          </div>
          <div class="project-video">
          </div>
        </div>
        <div class="project-media">
          <div class="project-phone">
            <div class="project-photos">
              <%= image_tag 'project-pixel-2-1-rot.png', alt: "project on phone." %>
            </div>
          </div>
          <div>
          </div>
          <div class="project-desktop">
            <%#= image_tag '', alt: "project on desktop." %>
          </div>
        </div>

        <div class="project-documentation">
          <h2>Features</h2>
            <ul>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Feature</li>
            </ul>

          <h2>Technologies</h2>
          <p>
            project is built with <%= link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: '_blank' %> on both backend and frontend.
          </p>

          <h2>Technical challenges</h2>
          <h3>Technical challenge 1</h3>
          <p>
            Text with code below.
          </p>
          <pre>
            <code class="language-javascript">
Some Code.
            </code>
          </pre>
          <p class="mt-4 mb-2">
            Text with code below.
          </p>
          <pre>
            <code class="language-ruby">
Some Code.
            </code>
          </pre>

          <h2>Upcoming features</h2>
          <ul>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Upcoming feature</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Upcoming feature</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Upcoming feature</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Upcoming feature</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Upcoming feature</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
