<!-- Modal -->
<div class="modal fade" id="spotifyModal" tabindex="-1" aria-labelledby="spotifyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="spotifyModalLabel">Spotify Artist Page</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark hover-brighter-green"></i></span>
      </div>
      <div class="modal-body modal-spotify spotify-modal-body">
        <div class="spotify-lede">
          <div>
            <p>Frontend clone of the Spotify artist page.</p>
            <p>Visit site: <%= link_to 'Spotify Artist Page', 'http://spotify.jorgenlt.me', target: "_blank"  %></p>
            <p><%= link_to 'View on GitHub', 'https://github.com/jorgenlt/spotify-artist-page', target: "_blank"  %></p>
          </div>
          <div class="spotify-video">
          </div>
        </div>
        <div class="spotify-media">
          <div>
          </div>
          <div class="spotify-desktop">
            <%= image_tag 'spotify-desktop.png', alt: "Spotify on desktop." %>
            <%= image_tag 'spotify-desktop2.png', alt: "Spotify on desktop." %>
          </div>
        </div>

        <div class="spotify-documentation">
          <h2>Technologies</h2>
          <p>

          </p>

          <h2>Technical challenges</h2>
          <h3>Technical challenge 1</h3>
          <p>
            Text with code below.
          </p>
          <pre>
            <code class="language-javascript">
Some Code.
            </code>
          </pre>
          <p class="mt-4 mb-2">
            Text with code below.
          </p>
          <pre>
            <code class="language-ruby">
Some Code.
            </code>
          </pre>

        </div>
      </div>
    </div>
  </div>
</div>
