<div class="sticky-some-bar">
    <a href="mailto:contact@jorgenlt.me" class="emailat" target="_blank">
        <i class="fa-solid fa-at"></i>
    </a>
    <a href="https://www.linkedin.com/in/jorgenlt/" target="_blank" class="linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/jorgenlt" target="_blank" class="github">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://codepen.io/dogonscooter" target="_blank" class="codepen">
        <i class="fa-brands fa-codepen"></i>
    </a>
    <a href="https://www.freecodecamp.org/jorgenlt" target="_blank" class="freecodecamp">
        <i class="fa-brands fa-free-code-camp"></i>
    </a>
</div>
