<!-- Modal -->
<div class="modal fade" id="tidderModal" tabindex="-1" aria-labelledby="tidderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tidderModalLabel">Tidder</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark hover-brighter-green"></i></span>
      </div>
      <div class="modal-body">
        <h1>Tidder</h1>
        <p>A reddit clone.</p>
      </div>
      <%# <div class="modal-footer">
      </div> %>
    </div>
  </div>
</div>
