.messagemate-desktop {
  display: flex;
  justify-content: center;
  max-width: 750px;

  img {
    margin: 40px 0px;
    width: 640px;
  }
}

.messagemate-video {
  margin: 10px 10px;
}

.messagemate-photos {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
}

.messagemate-phone {
  display: flex;
  flex-direction: column;

  img {
    margin: 0px 20px;
    width: 290px;
  }
}

@media only screen and (max-width: 670px) {
  .messagemate-video {
    justify-content: center;
    display: flex;
  }

  .messagemate-phone {
    flex-direction: column;
    align-items: center;

    img {
      margin: 20px 20px;
    }
  }

  .messagemate-photos {
    flex-direction: column;
  }

  .messagemate-desktop {
    img {
      width: 360px;
      margin-top: 20px;
    }
  }

}

