.media--spotify-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;

  img {
    margin: 40px 0px;
    width: 740px;
  }
}

@media only screen and (max-width: 670px) {
  .spotify-photos {
    flex-direction: column;
  }

  .media--spotify-desktop {
    img {
      width: 360px;
      margin-top: 20px;
    }
  }

}
