.spotify-modal-body {
  display: flex;
  flex-direction: column;

  a {
    font-weight: 400;
  }

  i {
    font-size: 12px;
    margin-right: 10px;
    color: $green-light;
  }

  ul {
    div {
      display: flex;
      align-items: baseline;
    }
  }

  li {
    list-style: none;
    margin: 15px 0px 0px 0px;
  }
}

.spotify-lede {
  display: flex;
  margin-bottom: 20px;
  max-width: 750px;
}

.spotify-media {
  display: flex;
  flex-direction: column;
}

.spotify-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;

  img {
    margin: 40px 0px;
    width: 740px;
  }
}

.spotify-video {
  margin: 10px 10px;
}

.spotify-photos {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
}

.spotify-phone {
  display: flex;
  flex-direction: column;

  img {
    margin: 0px 20px;
    width: 290px;
  }
}

@media only screen and (max-width: 670px) {
  .spotify-modal-body {
    flex-direction: column;
  }

  .spotify-lede {
    flex-direction: column;
  }

  .spotify-video {
    justify-content: center;
    display: flex;
  }

  .spotify-phone {
    flex-direction: column;
    align-items: center;

    img {
      margin: 20px 20px;
    }
  }

  .spotify-photos {
    flex-direction: column;
  }

  .spotify-desktop {
    img {
      width: 360px;
      margin-top: 20px;
    }
  }

}
