.tidder-modal-body {
  display: flex;
  flex-direction: column;

  a {
    font-weight: 400;
  }

  i {
    font-size: 12px;
    margin-right: 10px;
    color: $green-light;
  }

  ul {
    div {
      display: flex;
      align-items: baseline;
    }
  }

  li {
    list-style: none;
    margin: 15px 0px 0px 0px;
  }
}

.tidder-lede {
  display: flex;
  margin-bottom: 20px;
  max-width: 750px;
}

.tidder-media {
  display: flex;
  flex-direction: column;
}

.tidder-desktop {
  display: flex;
  max-width: 750px;

  img {
    margin: 40px 0px;
    border-radius: 10px;
    width: 640px;
  }
}

.tidder-video {
  margin: 10px 10px;
}

.tidder-photos {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
}

.tidder-phone {
  display: flex;

  img {
    margin: 0px 20px;
    height: 670px;
  }
}

@media only screen and (max-width: 670px) {
  .tidder-modal-body {
    flex-direction: column;
  }

  .tidder-lede {
    flex-direction: column;
  }

  .tidder-video {
    justify-content: center;
    display: flex;
  }

  .tidder-phone {
    flex-direction: column;
    align-items: center;

    img {
      margin: 20px 20px;
    }
  }

  .tidder-photos {
    flex-direction: column;
  }

  .tidder-desktop {
    justify-content: center;

    img {
      width: 360px;
      margin-top: 20px;
    }
  }

}
