.homify--photos  {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 0px;
}

.homify--phone {
  display: flex;

  img {
    margin: 0px;
    height: 644px;
  }
}

.homify--demo-day {
  width: 700px;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;
}

@media only screen and (max-width: 990px) {
  .homify-video {
    justify-content: center;
    display: flex;
  }

  .homify--phone {
    flex-direction: column;
    align-items: center;
  }

  .homify--photos  {
    flex-direction: column;

    img {
      height: 450px;
    }
  }

  .homify--demo-day {
    width: 90vw;
  }
}