.other-projects--wrapper {
  margin-bottom: 100px;
}

.other-projects--description {
  display: flex;
  margin-top: 20px;
  max-width: 750px;
}

.other-projects--features {
  margin-top: 20px;

  p {
    margin: 0px;
  }

  ul {
    margin: 0px;

    div {
      margin: 5px 0px;
    }
  }

  li {
    margin: 0px;
  }
}

.meme-screenshots {
  margin-top: 40px;
  display: flex;
  gap: 40px;

  img {
    height: 440px;
    width: auto;
  }
}

.photo-credit {
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .meme-screenshots {
    flex-direction: column;

    img {
      height: auto;
      width: 300px;
    }
  }

  @media only screen and (max-width: 670px) {
    .otherProjects--description {
      flex-direction: column;
    }
  }
}
