@media only screen and (min-width: 600px) {
    // scrollbar styling
    /* Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: $dark-gray none;
    }
  
    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
      width: 7px;
    }
    *::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: none;
    }
  
    *::-webkit-scrollbar-track:hover {
      background-color: none;
    }
  
    *::-webkit-scrollbar-track:active {
      background-color: none;
    }
  
    *::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $black-darker;
    }
  
    *::-webkit-scrollbar-thumb:hover {
      background-color: $hover-scroll;
    }
  
    *::-webkit-scrollbar-thumb:active {
      background-color: $hover-scroll;
    }
}