<section id="hero">
  <div><p>Hero headline top</p></div>
  <div><h1>Hero headline number 1</h1></div>
  <div><h2>Hero headline number 2</h2></div>
  <div>
    <p>
      Hero text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      cupiditate accusantium illo exercitationem praesentium illum, fugit
      aut quas dolorum at magni cum quaerat a, repellendus dolores doloremque
      amet beatae ipsam?
    </p>
  </div>
</section>

<section id="about">
</section>

<section id="portfolio">
</section>

<section id="resume">
</section>

<section id="contact">
</section>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque voluptates cum voluptatibus aperiam dolorum, libero possimus suscipit tempore voluptate debitis ullam itaque nobis, modi officia. Odio molestiae quis eum!</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque voluptates cum voluptatibus aperiam dolorum, libero possimus suscipit tempore voluptate debitis ullam itaque nobis, modi officia. Odio molestiae quis eum!</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque voluptates cum voluptatibus aperiam dolorum, libero possimus suscipit tempore voluptate debitis ullam itaque nobis, modi officia. Odio molestiae quis eum!</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque voluptates cum voluptatibus aperiam dolorum, libero possimus suscipit tempore voluptate debitis ullam itaque nobis, modi officia. Odio molestiae quis eum!</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque voluptates cum voluptatibus aperiam dolorum, libero possimus suscipit tempore voluptate debitis ullam itaque nobis, modi officia. Odio molestiae quis eum!</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque voluptates cum voluptatibus aperiam dolorum, libero possimus suscipit tempore voluptate debitis ullam itaque nobis, modi officia. Odio molestiae quis eum!</p>
