// Define variables for your color scheme
$black:         #121416;
$green-light:   #009580;
$black-dark:    #212531;
$black-darker:  #14161d;
$bronze:        #996e5c;
$white-reg:     #F2F8F2;
$white:         #F2F8F2;
$light-gray:    #dddfe3;
$dark-gray:     #313547;
$hover-green:   lighten($green-light, 10);
$hover-scroll:  lighten($black-darker, 15);

// $primary:    $green-light;
// $secondary:  $black-dark;

// color profile 1
// $green-light: #009580ff;
// $black-dark: #212531ff;
// $bronze: #996e5cff;

// color profile 2
// $green-light: #a5ff8e;
// $black-dark: #201d1d;
// $white-reg: #F2F8F2;

// archive
// $green-dark: #2de000;
// $green-med: #6cff47;
// $green-light: #009580ff;
// $black-dark: #212531ff;
// $black-med: #2b2b27;
// $white-reg: #F2F8F2;
