#nav-home {
  display: flex;
  justify-content: end;
  background: none;

  ul {
    list-style: none;
    margin: 0;
    position: fixed;
    z-index: 99;
  }
}

.nav-links {
  font-family: $nav-font;
  display: flex;

  a {
    padding-left: 30px;
    text-decoration: none;
    color: $white-reg;
    font-size: 14px;
    transition: all 0.3s ease;
    &:hover {
      color: $green-light;
    }
  }

  .link-num {
    color: $green-light;
  }
}
