.otherProjects-modal-body {
  display: flex;
  flex-direction: column;
  padding-top: 0px;

  a {
    font-weight: 400;
  }

  i {
    font-size: 12px;
    margin-right: 10px;
    color: $green-light;
  }

  ul {
    div {
      display: flex;
      align-items: baseline;
    }
  }

  li {
    font-weight: 200;
    list-style: none;
    margin: 15px 0px 0px 0px;
  }
}

.other-project-container {
  margin-bottom:50px
}

.otherProjects-description {
  display: flex;
  margin-top: 20px;
  max-width: 750px;
}

.otherProjects-features {
  margin-top: 20px;

  p {
    margin: 0px;
  }

  ul {
    margin: 0px;

    div {
      margin: 5px 0px;
    }
  }

  li {
    margin: 0px;
  }
}

.currencyconverter-img, .urlshortener-img {
  width: 400px;
  margin: 20px 0px
}

@media only screen and (max-width: 670px) {
  .otherProjects-modal-body {
    flex-direction: column;
  }

  .otherProjects-description {
    flex-direction: column;
  }

  .currencyconverter-img, .urlshortener-img {
    width: 300px;
  }
}

@media only screen and (max-width: 670px) {
  .modal-body{
    p {
      font-size: 16px;
    }
  }
}
