$text-light: rgba(255,255,255,0.6);
$text-lighter: rgba(255,255,255,0.9);
$spacing-s: 3px;
$spacing-m: 6px;
$spacing-l: 8px;
$spacing-xl: 12px;
$spacing-xxl: 26px;
$width-container: 1200px;

#portfolio-cards {
  // height: 95vh;
  // margin: 5vh 0px;
  // height: 65vh;

  margin: 5vh 0px;
  height: 55vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;

  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero-section{
    // display: flex;
    // justify-content: start;
    // align-items: center;

    // height: 90vh;
    // padding: $spacing-xxl) $spacing-l);
  }

  .portfolio-card-container {
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
  }


  .portfolio-card{
    width: 20vw;
    min-width: 320px;
    margin: 0px 20px;
    text-decoration: none;
    position: relative;

    &::before{
      content: '';
      display: block;
      padding-bottom: 150%;
      width: 100%;
    }

    .portfolio-card-1 {
      background-image: url(homify-pixel-2-1-rot.png);
    }

    .portfolio-card-2 {
      background-image: url(ben-kolde-unsplash.jpg);
    }

    .portfolio-card-3 {
      background-image: url(edho-pratama-unsplash.jpg);
    }
  }

  .background-overlay {
    height: 100%;
    border-radius: inherit;

    &:hover {
      background: linear-gradient(0deg, rgba(33,37,49,0.80) 25%, rgba(255,29,0,0) 55%);
    }
  }

  .portfolio-card__background{
    background-size: cover;
    background-position: center;
    border-radius: $spacing-l;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
    filter 200ms linear,
    transform 200ms linear;
    // opacity: 0.5;
    box-shadow: 8px 5px 32px 0px rgba(41, 46, 61, 1);
  }
  .portfolio-card__content {
    padding: 1rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-card__category{
    color: $white-reg;
    font-size: 0.9rem;
    margin-bottom: $spacing-s;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    opacity: 0;
    transition: 0.3s;
  }

  .portfolio-card__heading{
    font-family: $headers-font;
    font-weight: 200;
    font-size: 1.9rem;
    color: $white-reg;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    position: relative;
    top: 30px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: .1s;
  }

  .portfolio-card__text{
    font-family: $body-font;
    font-weight: 200;
    font-size: 1.0rem;
    color: $white-reg;
    // text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    // text-shadow: 2px 2px 15px #212531;
    // backdrop-filter: blur(10px) saturate(70%);
    line-height: 1.4;
    // position: relative;
    // top: 30px;
    // bottom: 0px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: .1s;
  }

  // when hovering portfolio-card, background transforms
  .portfolio-card:hover .portfolio-card__background{
    transform: scale(1.05) translateZ(0);
    box-shadow:
    6px 6px 17px rgba(0, 0, 0, 0.1),
    22px 22px 55px rgba(0, 0, 0, 0.2)
    ;
  }

  .portfolio-card:hover .portfolio-card__category,
  .portfolio-card-container:hover .portfolio-card__heading,
  .portfolio-card-container:hover .portfolio-card__text {
    top: 0;
    opacity: 1;
  }
  .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__background,
  .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__category,
  .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__heading,
  .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__text {
    filter: brightness(0.5) saturate(0.2) contrast(1.2) blur(8px);
  }
}

@media only screen and (max-width: 1000px) {
  #portfolio-cards {
    .portfolio-card {
      width: 32vw;
      min-width: 300px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #portfolio-cards {
    .portfolio-card {
      width: 60vw;
      min-width: 260px;
    }

    // .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__background,
    // .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__category,
    // .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__heading,
    // .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__text {
    //   filter: brightness(1.0) saturate(0.2) contrast(1.0) blur(0px);
    // }

    .portfolio-card:hover .portfolio-card__category,
    .portfolio-card-container:hover .portfolio-card__heading,
    .portfolio-card-container:hover .portfolio-card__text {
      top: 0;
      opacity: 1;
    }
    .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__background,
    .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__category,
    .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__heading,
    .portfolio-card-container:hover > .portfolio-card:not(:hover) .portfolio-card__text {
      filter: none;
      color: rgba(0, 0, 0, 0);
      transition: 0s;
    }
  }
}
