.sticky-some-bar {
  position: fixed;
  bottom: -10%;
  transform: translateY(-50%);
  z-index: 100;

  a {
    display: block;
    text-align: center;
    padding: 5px 15px;
    transition: all 0.3s ease;
    color: $white-reg;
    opacity: 0.5;
    font-size: 20px;
  }

  a:hover {
    color: $green-light;
    opacity: 1;
  }
}
