// color schema 1
$green:         #009580;
$darkblue:      #212531;

// testing colors
$test-pri: #62D085;
$test-sec: #033c4f;

// colors
$pri:           $test-pri;
$sec:           $test-sec;
$sec-dark:      darken($sec, 8);
$scroll:        lighten($sec, 6);
$hover:         lighten($pri, 10);
$black:         #101319;
$white:         #F2F8F2;
$light-gray:    #dddfe3;
$dark-gray:     #313547;

// other variables
