<div class="section" id="contact">
    <div id="contact-wrapper">
      <h1>Contact</h1>
      <div id="contact--links">
        <a
          href="mailto:contact@jorgenlt.me"
          class="emailat"
          target="_blank"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Email me"
        >
          <i class="fa-solid fa-at"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/jorgenlt/"
          target="_blank"
          class="linkedin"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Linkedin"
        >
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a
          href="https://github.com/jorgenlt"
          target="_blank"
          class="github"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="GitHub"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://codepen.io/dogonscooter"
          target="_blank"
          class="codepen"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Code Pen"
        >
          <i class="fa-brands fa-codepen"></i>
        </a>
        <a
          href="https://www.freecodecamp.org/jorgenlt"
          target="_blank"
          class="freecodecamp"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="freeCodeCamp"
        >
          <i class="fa-brands fa-free-code-camp"></i>
        </a>
      </div>
    </div>
  </div>
